{% extends "base.html" %}
{% load embed_video_tags %}
{% block content %}

<div>
<h1> Title: {{object.detail.title}} </h1>
	<h2> <p>Description: {{object.detail.desription}} </p> </h2>
{% video object.detail.url as my_video %}
{% video my_video '800x600' %}
{% endvideo %}
	</div>
	<table>
	  <tr>
    <th>Name</th>
    <th>Comment</th>
  	</tr>
  	{% for comment in object.comment %}
  	<tr>
    	<td>{{ comment.user.username }}</td>
    	<td>{{ comment.body }}</td>
  	</tr>
  	{% endfor %}
	</table>
	<form method="post" action="comment/{{object.detail.id}}">
   {{ object.form.as_p }}
          {% csrf_token %}
 <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
</form>
<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
  </tr>
{% for movie in object_list %}
  <tr>
	  <td><a href = "{{movie.id}}">{{ movie.title }}</td>
	  <td>{{ movie.url }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

